# hidden in skylon07 .vscode settings.json
**/.svn
**/.hg
**/CVS
**/.DS_Store
**/*.pyc
**/__pycache__

# speaking of .vscode...
.vscode

# pyinstaller build files
build-scripts/*/*
# ... but keep scripts
!build-scripts/mac/maketar.sh
!build-scripts/mac/run_pyinstaller.sh
!build-scripts/mac/SolverPro_downloader_mac
!build-scripts/mac/SolverPro_fixErrors
!build-scripts/win/run_pyinstaller.bat
