# hidden in skylon07 .vscode settings.json
**/.svn
**/.hg
**/CVS
**/.DS_Store
**/*.pyc
**/__pycache__

# speaking of .vscode...
.vscode

# hide mac src (breaks for git on windows)
dist-scripts/mac/SolverPro_mac/

# pyinstaller build files
dist-scripts/*/*
# ... but keep scripts
!dist-scripts/mac/maketar.sh
!dist-scripts/mac/run_pyinstaller.sh
!dist-scripts/mac/SolverPro_download
!dist-scripts/win/run_pyinstaller.bat
