# hidden in skylon07 .vscode settings.json
**/.svn
**/.hg
**/CVS
**/.DS_Store
**/*.pyc
**/__pycache__

# speaking of .vscode...
.vscode

# hide mac src (breaks for git on windows)
dist-versions/*/SolverPro_mac/

# pyinstaller build files
dist-versions/*/build/
dist-versions/*/dist/
dist-versions/*/*.spec
